<a href="https://colab.research.google.com/github/BhushanDive/Sentiment_analysis_of_twitter_data/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install torchvision

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torchvision in /usr/local/lib/python3.9/dist-packages (0.15.1+cu118)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from torchvision) (1.22.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from torchvision) (2.27.1)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.9/dist-packages (from torchvision) (8.4.0)
Requirement already satisfied: torch==2.0.0 in /usr/local/lib/python3.9/dist-packages (from torchvision) (2.0.0+cu118)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (2.0.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (3.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (3.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch==2.0.0->torchvision) (4.5.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch==2.0.0->torchvision) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch==2.0.0->torchvision) (16.0.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->torchvision) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->torch==2.0.0->torchvision) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.9/dist-packages (from sympy->torch==2.0.0->torchvision) (1.3.0)

# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
import string

In [3]:
df1 = pd.read_csv("Twitter_Data/twitter_training.csv")
df2 = pd.read_csv("Twitter_Data/twitter_validation.csv")

In [4]:
df1.columns = ["Id","location","Sentiment","Text"]

In [5]:
df1.head(5)

,Id,location,Sentiment,Text
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [6]:
df2.columns = ["Id","location","Sentiment","Text"]

In [7]:
df2.head(5)

,Id,location,Sentiment,Text
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I’ve had Madeleine McCann in my cel...

In [8]:
print(df1.shape)
print(df2.shape)

(46294, 4)
(999, 4)

In [9]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46294 entries, 0 to 46293
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         46294 non-null  int64
 1   location   46294 non-null  object
 2   Sentiment  46294 non-null  object
 3   Text       45849 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         999 non-null    int64
 1   location   999 non-null    object
 2   Sentiment  999 non-null    object
 3   Text       999 non-null    object
dtypes: int64(1), object(3)
memory usage: 31.3+ KB

In [10]:
df1.isnull().sum()

Id             0
location       0
Sentiment      0
Text         445
dtype: int64

In [11]:
df2.isnull().sum()

Id           0
location     0
Sentiment    0
Text         0
dtype: int64

In [12]:
df1.dropna(inplace=True)

In [13]:
df1.isnull().sum()

Id           0
location     0
Sentiment    0
Text         0
dtype: int64

In [14]:
df1.shape

(45849, 4)

In [15]:
df1.location.unique()

array(['Borderlands', 'CallOfDutyBlackopsColdWar', 'Amazon', 'Overwatch',
       'Xbox(Xseries)', 'NBA2K', 'Dota2', 'PlayStation5(PS5)',
       'WorldOfCraft', 'CS-GO', 'Google', 'AssassinsCreed', 'ApexLegends',
       'LeagueOfLegends', 'Fortnite', 'Microsoft', 'Hearthstone',
       'Battlefield', 'PlayerUnknownsBattlegrounds(PUBG)', 'Verizon'],
      dtype=object)

In [16]:
df1.location.value_counts()

LeagueOfLegends                      2377
Microsoft                            2361
Dota2                                2359
WorldOfCraft                         2357
ApexLegends                          2353
NBA2K                                2343
CallOfDutyBlackopsColdWar            2343
Overwatch                            2316
Battlefield                          2316
PlayStation5(PS5)                    2291
Hearthstone                          2286
CS-GO                                2284
Xbox(Xseries)                        2283
Borderlands                          2279
Amazon                               2276
Google                               2274
Fortnite                             2249
AssassinsCreed                       2234
PlayerUnknownsBattlegrounds(PUBG)    2234
Verizon                              2034
Name: location, dtype: int64

In [17]:
df2.location.unique()

array(['Amazon', 'Microsoft', 'CS-GO', 'Google', 'FIFA', 'MaddenNFL',
       'TomClancysRainbowSix', 'AssassinsCreed', 'CallOfDuty', 'Dota2',
       'Verizon', 'NBA2K', 'Nvidia', 'GrandTheftAuto(GTA)',
       'RedDeadRedemption(RDR)', 'Hearthstone', 'ApexLegends',
       'Overwatch', 'PlayerUnknownsBattlegrounds(PUBG)', 'Borderlands',
       'PlayStation5(PS5)', 'johnson&johnson', 'Fortnite',
       'Xbox(Xseries)', 'CallOfDutyBlackopsColdWar', 'Facebook',
       'HomeDepot', 'Cyberpunk2077', 'TomClancysGhostRecon',
       'WorldOfCraft', 'LeagueOfLegends', 'Battlefield'], dtype=object)

In [18]:
df2.location.value_counts()

RedDeadRedemption(RDR)               40
johnson&johnson                      39
FIFA                                 38
PlayerUnknownsBattlegrounds(PUBG)    38
LeagueOfLegends                      37
ApexLegends                          36
Nvidia                               35
TomClancysRainbowSix                 35
GrandTheftAuto(GTA)                  35
Fortnite                             34
Amazon                               34
AssassinsCreed                       33
Borderlands                          33
PlayStation5(PS5)                    33
Hearthstone                          32
Overwatch                            32
Verizon                              32
CS-GO                                32
Facebook                             32
CallOfDuty                           31
Cyberpunk2077                        30
WorldOfCraft                         30
MaddenNFL                            29
Microsoft                            28
Dota2                                27
CallOfDutyBlackopsColdWar            27
Battlefield                          26
Xbox(Xseries)                        26
Google                               24
TomClancysGhostRecon                 22
NBA2K                                21
HomeDepot                            18
Name: location, dtype: int64

In [19]:
df1.Sentiment.unique()

array(['Positive', 'Neutral', 'Negative', 'Irrelevant'], dtype=object)

In [20]:
df1.Sentiment.value_counts()

Positive      13609
Negative      12189
Neutral       11343
Irrelevant     8708
Name: Sentiment, dtype: int64

In [21]:
df2.Sentiment.unique()

array(['Neutral', 'Negative', 'Positive', 'Irrelevant'], dtype=object)

In [22]:
df2.Sentiment.value_counts()

Neutral       285
Positive      277
Negative      266
Irrelevant    171
Name: Sentiment, dtype: int64

In [23]:
df1.drop(df1.index[df1['Sentiment']=='Irrelevant'],axis=0,inplace=True)

In [24]:
df1

,Id,location,Sentiment,Text
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
46289,11944,Verizon,Neutral,The last 3 August’s I have broken my phone. Th...
46290,11944,Verizon,Neutral,The last 3 August's I've broken my phone. This...
46291,11944,Verizon,Neutral,The last time I broke my phone was on August 3...
46292,11944,Verizon,Neutral,The last 3 August’s I have broken my phone. Th...
46293,11944,Verizon,Neutral,7

In [25]:
df1.Sentiment.unique()

array(['Positive', 'Neutral', 'Negative'], dtype=object)

In [26]:
df1.shape

(37141, 4)

In [27]:
df2.drop(df2.index[df2['Sentiment']=='Irrelevant'],axis=0,inplace=True)

In [28]:
df2.Sentiment.unique()

array(['Neutral', 'Negative', 'Positive'], dtype=object)

In [29]:
df2.shape

(828, 4)

In [30]:
df = pd.concat([df1,df2])

In [31]:
df = df.reset_index(drop=True)

In [32]:
df['Text'][0]

'I am coming to the borders and I will kill you all,'

In [33]:
df.shape

(37969, 4)

In [34]:
df

,Id,location,Sentiment,Text
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
37964,314,Amazon,Negative,Please explain how this is possible! How can t...
37965,9701,PlayStation5(PS5),Positive,Good on Sony. As much as I want to see the new...
37966,2652,Borderlands,Positive,Today sucked so it’s time to drink wine n play...
37967,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
37968,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [35]:
df.drop(["Id","location"],axis=1,inplace=True)

In [36]:
df

      Sentiment                                               Text
0      Positive  I am coming to the borders and I will kill you...
1      Positive  im getting on borderlands and i will kill you ...
2      Positive  im coming on borderlands and i will murder you...
3      Positive  im getting on borderlands 2 and i will murder ...
4      Positive  im getting into borderlands and i can murder y...
...         ...                                                ...
37964  Negative  Please explain how this is possible! How can t...
37965  Positive  Good on Sony. As much as I want to see the new...
37966  Positive  Today sucked so it’s time to drink wine n play...
37967  Positive  Bought a fraction of Microsoft today. Small wins.
37968   Neutral  Johnson & Johnson to stop selling talc baby po...

[37969 rows x 2 columns]

In [37]:
df['Sentiment'] = df['Sentiment'].replace(['Positive','Negative','Neutral'],[1,-1,0])

In [38]:
df

       Sentiment                                               Text
0              1  I am coming to the borders and I will kill you...
1              1  im getting on borderlands and i will kill you ...
2              1  im coming on borderlands and i will murder you...
3              1  im getting on borderlands 2 and i will murder ...
4              1  im getting into borderlands and i can murder y...
...          ...                                                ...
37964         -1  Please explain how this is possible! How can t...
37965          1  Good on Sony. As much as I want to see the new...
37966          1  Today sucked so it’s time to drink wine n play...
37967          1  Bought a fraction of Microsoft today. Small wins.
37968          0  Johnson & Johnson to stop selling talc baby po...

[37969 rows x 2 columns]

In [39]:
df.shape

(37969, 2)

In [40]:
messages = df.Text

In [41]:
messages.shape

(37969,)

In [42]:
messages = messages.replace( '[^a-z A-Z 0-9 ]+',' ')

In [43]:
messages

0        I am coming to the borders and I will kill you...
1        im getting on borderlands and i will kill you ...
2        im coming on borderlands and i will murder you...
3        im getting on borderlands 2 and i will murder ...
4        im getting into borderlands and i can murder y...
                               ...
37964    Please explain how this is possible! How can t...
37965    Good on Sony. As much as I want to see the new...
37966    Today sucked so it’s time to drink wine n play...
37967    Bought a fraction of Microsoft today. Small wins.
37968    Johnson & Johnson to stop selling talc baby po...
Name: Text, Length: 37969, dtype: object

In [44]:
messages = messages.apply(lambda x: x.lower())

In [45]:
messages

0        i am coming to the borders and i will kill you...
1        im getting on borderlands and i will kill you ...
2        im coming on borderlands and i will murder you...
3        im getting on borderlands 2 and i will murder ...
4        im getting into borderlands and i can murder y...
                               ...
37964    please explain how this is possible! how can t...
37965    good on sony. as much as i want to see the new...
37966    today sucked so it’s time to drink wine n play...
37967    bought a fraction of microsoft today. small wins.
37968    johnson & johnson to stop selling talc baby po...
Name: Text, Length: 37969, dtype: object

# Importing NLTK Dependencies

In [46]:
from nltk.tokenize import TweetTokenizer
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [47]:
tk = TweetTokenizer()
lemmatizer = WordNetLemmatizer()

In [48]:
messages = messages.apply(lambda x:tk.tokenize(x)).apply(lambda x:" ".join(x))

In [49]:
messages

0        i am coming to the borders and i will kill you...
1        im getting on borderlands and i will kill you ...
2        im coming on borderlands and i will murder you...
3        im getting on borderlands 2 and i will murder ...
4        im getting into borderlands and i can murder y...
                               ...
37964    please explain how this is possible ! how can ...
37965    good on sony . as much as i want to see the ne...
37966    today sucked so it ’ s time to drink wine n pl...
37967    bought a fraction of microsoft today . small w...
37968    johnson & johnson to stop selling talc baby po...
Name: Text, Length: 37969, dtype: object

In [50]:
messages = messages.apply(lambda x: lemmatizer.lemmatize(x))

In [51]:
messages.reset_index()

       index                                               Text
0          0  i am coming to the borders and i will kill you...
1          1  im getting on borderlands and i will kill you ...
2          2  im coming on borderlands and i will murder you...
3          3  im getting on borderlands 2 and i will murder ...
4          4  im getting into borderlands and i can murder y...
...      ...                                                ...
37964  37964  please explain how this is possible ! how can ...
37965  37965  good on sony . as much as i want to see the ne...
37966  37966  today sucked so it ’ s time to drink wine n pl...
37967  37967  bought a fraction of microsoft today . small w...
37968  37968  johnson & johnson to stop selling talc baby po...

[37969 rows x 2 columns]

In [52]:
messages[0]

'i am coming to the borders and i will kill you all ,'

In [53]:
messages.shape

(37969,)

In [54]:
from nltk.corpus import stopwords
nltk.download('stopwords')
sw=stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [55]:
messages = messages.apply(lambda x:[i for i in tk.tokenize(x) if  i not in sw]).apply(lambda x:' '.join(x))

In [56]:
messages

0                                    coming borders kill ,
1                            im getting borderlands kill ,
2                           im coming borderlands murder ,
3                        im getting borderlands 2 murder ,
4                          im getting borderlands murder ,
                               ...
37964    please explain possible ! let companies overch...
37965    good sony . much want see new ps5 , what's goi...
37966    today sucked ’ time drink wine n play borderla...
37967       bought fraction microsoft today . small wins .
37968    johnson & johnson stop selling talc baby powde...
Name: Text, Length: 37969, dtype: object

# Vectorizing the Text Data

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer()

In [58]:
train_data=vec.fit_transform(messages)
train_data

<37969x21269 sparse matrix of type '<class 'numpy.float64'>'
	with 406586 stored elements in Compressed Sparse Row format>

In [59]:
train_data.shape

(37969, 21269)

In [60]:
y = df['Sentiment'].values

In [61]:
y.shape

(37969,)

# Creating Train Test Split

In [62]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(train_data,y,test_size=0.35,random_state=42)

# Importing Models

In [68]:
# Importing Models to train
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

# Models
svm = SVC()
random_forest = RandomForestClassifier()
naive_bayes = MultinomialNB()
Decision_tree = DecisionTreeClassifier()
knn = KNeighborsClassifier()

# Models List
models_lst = [svm,random_forest,naive_bayes,Decision_tree,knn]

In [64]:
from sklearn.metrics import confusion_matrix,classification_report

In [69]:
for i in models_lst:
    print(i)
    i.fit(x_train,y_train)
    y_pred = i.predict(x_test)
    print('---------------')
    print(classification_report(y_test,y_pred))
    print('---------------')

SVC()
---------------
              precision    recall  f1-score   support

          -1       0.95      0.93      0.94      4439
           0       0.95      0.91      0.93      3970
           1       0.90      0.96      0.93      4881

    accuracy                           0.93     13290
   macro avg       0.93      0.93      0.93     13290
weighted avg       0.93      0.93      0.93     13290

---------------
RandomForestClassifier()
---------------
              precision    recall  f1-score   support

          -1       0.94      0.91      0.93      4439
           0       0.94      0.89      0.91      3970
           1       0.88      0.94      0.91      4881

    accuracy                           0.92     13290
   macro avg       0.92      0.91      0.92     13290
weighted avg       0.92      0.92      0.92     13290

---------------
MultinomialNB()
---------------
              precision    recall  f1-score   support

          -1       0.83      0.84      0.83      4439
           0       0.90      0.67      0.77      3970
           1       0.76      0.90      0.82      4881

    accuracy                           0.81     13290
   macro avg       0.83      0.80      0.81     13290
weighted avg       0.82      0.81      0.81     13290

---------------
DecisionTreeClassifier()
---------------
              precision    recall  f1-score   support

          -1       0.85      0.82      0.83      4439
           0       0.83      0.80      0.81      3970
           1       0.81      0.86      0.84      4881

    accuracy                           0.83     13290
   macro avg       0.83      0.83      0.83     13290
weighted avg       0.83      0.83      0.83     13290

---------------
KNeighborsClassifier()
---------------
              precision    recall  f1-score   support

          -1       0.97      0.79      0.87      4439
           0       0.97      0.80      0.88      3970
           1       0.74      0.97      0.84      4881

    accuracy                           0.86     13290
   macro avg       0.90      0.86      0.87     13290
weighted avg       0.89      0.86      0.86     13290

---------------